{% extends "layout.html" %}

{% block content %}
    <h1>Admin Page</h1>

    {% for user in users %}
        <h2>{{ user.email }}</h2>
        <form method="post" action="/remove_user">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="submit" value="Remove User">
        </form>
    {% endfor %}
    
    {% for post in posts|reverse %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <form method="post" action="/remove_post">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Remove Post">
        </form>
        <form method="post" action="/remove_likes">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Remove Likes">
        </form>
    {% endfor %}

{% endblock %}home
