{% extends "layout.html" %}

{% block content %}
    <h1>Admin Page</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <form method="post" action="/remove_post">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Remove Post">
        </form>
        <form method="post" action="/remove_likes">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="submit" value="Remove Likes">
        </form>
    {% endfor %}
{% endblock %}
